<!doctype html>
<html lang="en">
  <head>
    <title>dmj.io - $title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal blog of David Johnson">
    <link rel="stylesheet"  href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/blog.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header" style="text-align:center">
            <h1 class="brand-tagline"><a href="/">dmj.io</a></h1>
            <h2 class="brand-tagline">purely functional</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                          <a class="pure-button" target="_blank"
                             href="http://twitter.com/dmjio"><i class="fa
                             fa-twitter fa-2x"></i></a>
                        </span>
                    </li>
                    <li class="nav-item">
                      <a class="pure-button" target="_blank"
                      href="http://github.com/dmjio"><i class="fa
                      fa-github fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="pure-button" target="_blank"
                      href="https://www.linkedin.com/in/davidmjohnson"><i class="fa fa-linkedin fa-2x"></i></a>
                    </li>
                </ul>
                <ul class="nav-list">
                    <li class="nav-item">
                      <a class="pure-button"
                      href="/archive.html"><i class="fa fa-folder-open-o
                      fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="pure-button" target="_blank"
                      href="/atom.xml"><i class="fa fa-rss fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="pure-button" target="_blank"
                         href="https://careers.stackoverflow.com/davidmjohnson"><i class="fa fa-stack-overflow fa-2x"></i></a>
                    </li>
                </ul>
                <br />
                <hr>
                <p style="font-weight:300"> I'm a
                  full-stack <a href="http://haskell.org" style="color:lightyellow">Haskell</a> developer living in Chicago, working
                  for <a target="_blank" style="color:lightyellow" href="http://www.vertigomusic.com/">Vertigo Music</a>
                </p>
                <hr>
               <p style="font-weight:300"> I'd love to hear from you. </p>
               <a href="mailto:djohnson.m@gmail.com?Subject=Hello!"><i class="foo
               fa fa-3x fa-envelope-o"></i></a>
                
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        $body$
    </div>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
        Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m
        )})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-62773350-1', 'auto');
        ga('send', 'pageview');
      </script>
    </body>
</html>
