<p style="text-transform:uppercase; color:#aaa">Recent Posts</p>
<div class="posts">
    $for(posts)$
   <h1 class="content-subhead"></h1>
    <div class="brand-tagline">
                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                      <div>
                             $if(teaser)$
                             <p>$teaser$ <a href="$url$">read more...</a></p>
                             $endif$
                      </div>
                    </header>
                </section>
    </div>
    $endfor$
</div>
